############################################################################
# XEM6010 - Xilinx constraints file
#
# Pin mappings for the XEM6010.  Use this as a template and comment out 
# the pins that are not used in your design.  (By default, map will fail
# if this file contains constraints for signals not in your design).
#
# Copyright (c) 2004-2010 Opal Kelly Incorporated
# $Rev: 584 $ $Date: 2010-10-01 11:14:42 -0500 (Fri, 01 Oct 2010) $
############################################################################
CONFIG VCCAUX = "3.3"; //Required for Spartan-6

############################################################################
## FrontPanel Host Interface
############################################################################
NET "hi_in<0>"      LOC="Y12"    | IOSTANDARD="LVCMOS33";
NET "hi_in<1>"      LOC="AB20"   | IOSTANDARD="LVCMOS33";
NET "hi_in<2>"      LOC="AB7"    | IOSTANDARD="LVCMOS33";
NET "hi_in<3>"      LOC="AB8"    | IOSTANDARD="LVCMOS33";
NET "hi_in<4>"      LOC="AA4"    | IOSTANDARD="LVCMOS33";
NET "hi_in<5>"      LOC="AB4"    | IOSTANDARD="LVCMOS33";
NET "hi_in<6>"      LOC="Y3"     | IOSTANDARD="LVCMOS33";
NET "hi_in<7>"      LOC="AB3"    | IOSTANDARD="LVCMOS33";
NET "hi_out<0>"     LOC="Y19"    | IOSTANDARD="LVCMOS33";
NET "hi_out<1>"     LOC="AA8"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<0>"   LOC="AB12"   | IOSTANDARD="LVCMOS33";
NET "hi_inout<1>"   LOC="AA12"   | IOSTANDARD="LVCMOS33";
NET "hi_inout<2>"   LOC="Y13"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<3>"   LOC="AB18"   | IOSTANDARD="LVCMOS33";
NET "hi_inout<4>"   LOC="AA18"   | IOSTANDARD="LVCMOS33";
NET "hi_inout<5>"   LOC="V15"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<6>"   LOC="AB2"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<7>"   LOC="AA2"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<8>"   LOC="Y7"     | IOSTANDARD="LVCMOS33";
NET "hi_inout<9>"   LOC="Y4"     | IOSTANDARD="LVCMOS33";
NET "hi_inout<10>"  LOC="W4"     | IOSTANDARD="LVCMOS33";
NET "hi_inout<11>"  LOC="AB6"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<12>"  LOC="AA6"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<13>"  LOC="U13"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<14>"  LOC="U14"    | IOSTANDARD="LVCMOS33";
NET "hi_inout<15>"  LOC="AA20"   | IOSTANDARD="LVCMOS33";
NET "hi_aa"         LOC="W11"    | IOSTANDARD="LVCMOS33";

NET "hi_muxsel"     LOC = "AA22" | IOSTANDARD="LVCMOS33";
NET "i2c_sda"       LOC = "AB9"  | IOSTANDARD="LVCMOS33" | PULLUP;
NET "i2c_scl"       LOC = "Y9"   | IOSTANDARD="LVCMOS33" | PULLUP;

NET "hi_in<0>" TNM_NET = "okHostClk";
TIMESPEC "TS_okHostClk" = PERIOD "okHostClk" 20.83 ns HIGH 50%;  # 48 MHz
NET "hi_inout[*]" TNM = "okHostINOUT_grp";
TIMEGRP "okHostINOUT_grp" OFFSET = IN 9.83 ns VALID 9.83 ns BEFORE "hi_in<0>" RISING;
TIMEGRP "okHostINOUT_grp" OFFSET = OUT 11.63 ns AFTER "hi_in<0>" RISING;
NET "hi_out<0>" OFFSET = OUT 11.93 ns AFTER "hi_in<0>" RISING;
#NET "hi_out<1>" OFFSET = OUT 11.93 ns AFTER "hi_in<0>" RISING; #Placeholder
NET "hi_in<1>" OFFSET = IN 14.13 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;
NET "hi_in<2>" OFFSET = IN 14.13 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;
NET "hi_in<3>" OFFSET = IN 14.13 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;
NET "hi_in<4>" OFFSET = IN 13.33 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;
NET "hi_in<5>" OFFSET = IN 13.33 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;
NET "hi_in<6>" OFFSET = IN 13.33 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;
NET "hi_in<7>" OFFSET = IN 13.33 ns VALID 20.83 ns BEFORE "hi_in<0>" RISING;

############################################################################
## System Clocks (available to FPGA directly from PLL (not through JP2/JP3)
############################################################################
NET "CLK1MHZ"	   	LOC="AB13" | IOSTANDARD="LVCMOS33"; # SYS_CLK1 = CLKA
#NET "CLK5MHZ"		LOC="Y11"  | IOSTANDARD="LVCMOS33"; # SYS_CLK2 = CLKB
#NET "CLK48MHZ"      LOC="AB11" | IOSTANDARD="LVCMOS33"; # SYS_CLK3 = CLKC

NET "CLK1MHZ"  PERIOD = 1000.0 ns HIGH 50%;
#NET "CLK5MHZ"  PERIOD = 200.0 ns HIGH 50%;
#NET "CLK48MHZ" PERIOD = 20.83 ns HIGH 50%;

# CH2 Interface ###################################################
## JP2 Header:
##NET "HC_05_STATE"		LOC="G16"	| IOSTANDARD=LVCMOS33; # JP2-15, bank 1
#NET "AD5292_RDY_2"		LOC="G19"	| IOSTANDARD=LVCMOS33; # JP2-16, bank 1
##NET "HC_05_RXD" 	    LOC="G17"	| IOSTANDARD=LVCMOS33; # JP2-17, bank 1
#NET "AD5292_SDO_2"	    LOC="F20"	| IOSTANDARD=LVCMOS33; # JP2-18, bank 1
##NET "HC_05_TXD"		LOC="H19"	| IOSTANDARD=LVCMOS33; # JP2-19, bank 1
#NET "AD5292_SYNCB_2"	LOC="H20"	| IOSTANDARD=LVCMOS33; # JP2-20, bank 1
##NET "HC_05_ENABLE"	LOC="H18"	| IOSTANDARD=LVCMOS33; # JP2-21, bank 1
#NET "JP2_22"    	    LOC="J19"	| IOSTANDARD=LVCMOS33; # JP2-22, bank 1
#NET "HEF4051B_S1_1"	    LOC="F16"	| IOSTANDARD=LVCMOS33; # JP2-23, bank 1 (Select1_1)
#NET "AD5292_SCLK_2"	    LOC="D19"	| IOSTANDARD=LVCMOS33; # JP2-24, bank 1
#NET "HEF4051B_S2_1"		LOC="F17"	| IOSTANDARD=LVCMOS33; # JP2-25, bank 1 (Select1_2)
#NET "JP2_26"		    LOC="D20"	| IOSTANDARD=LVCMOS33; # JP2-26, bank 1
#NET "HEF4051B_S3_1"		LOC="J17"	| IOSTANDARD=LVCMOS33; # JP2-27, bank 1 (Select1_3)
#NET "JP2_28"		    LOC="F18"	| IOSTANDARD=LVCMOS33; # JP2-28, bank 1
#NET "HEF4051B_ENABLEB_1"LOC="K17"	| IOSTANDARD=LVCMOS33; # JP2-29, bank 1 (ENAB_COL1)
#NET "SYSSTATLED"	    LOC="F19"	| IOSTANDARD=LVCMOS33 | DRIVE=12; # JP2-30, bank 1 (System_Status_LED)
#NET "HEF4051B_ENABLEB_2"LOC="K16"   | IOSTANDARD=LVCMOS33; # JP2-31, bank 1 (ENAB_COL2)
#NET "RESETBUTTON1"      LOC="M16"   | IOSTANDARD=LVCMOS33; # JP2-32, bank 1 (Reset_System_Push)
#NET "LED_SR_SDATA1"     LOC="J16"   | IOSTANDARD=LVCMOS33; # JP2-33, bank 1 (SR_Sdata1)
#NET "LED_SR_MR"         LOC="L15"   | IOSTANDARD=LVCMOS33; # JP2-34, bank 1 (MasterReset)
#NET "AD5292_RSTB_2"     LOC="V21"   | IOSTANDARD=LVCMOS33; # JP2-37, bank 1
#NET "AD5643R_DIN"      LOC="K20"   | IOSTANDARD=LVCMOS33; # JP2-38, bank 1
#NET "AD5292_DIN_2"      LOC="V22"   | IOSTANDARD=LVCMOS33; # JP2-39, bank 1
#NET "AD5643R_SCLK"     LOC="K19"   | IOSTANDARD=LVCMOS33; # JP2-40, bank 1
#NET "MISOX"            LOC="T21"   | IOSTANDARD=LVCMOS33; # JP2-41, bank 1
#NET "AD5643R_SYNC"     LOC="U20"   | IOSTANDARD=LVCMOS33; # JP2-42, bank 1
#NET "DIGITALOUTPUTS1X" LOC="T22"   | IOSTANDARD=LVCMOS33; # JP2-43, bank 1
#NET "AD5643R_LDAC"     LOC="U22"   | IOSTANDARD=LVCMOS33; # JP2-44, bank 1
#NET "DIGITALOUTPUTS2X" LOC="P21"   | IOSTANDARD=LVCMOS33; # JP2-45, bank 1
#NET "AD5643R_CLR"      LOC="R20"   | IOSTANDARD=LVCMOS33; # JP2-46, bank 1
#NET "DIR2_4BIT"        LOC="P22"   | IOSTANDARD=LVCMOS33; # JP2-47, bank 1
#NET "OPT3001_ADDR"      LOC="R22"   | IOSTANDARD=LVCMOS33; # JP2-48, bank 1
#NET "OE2_4BIT"         LOC="M21"   | IOSTANDARD=LVCMOS33; # JP2-49, bank 1
#NET "OPT3001_INT"       LOC="N20"   | IOSTANDARD=LVCMOS33; # JP2-50, bank 1
#NET "DIR1_4BIT"        LOC="M22"   | IOSTANDARD=LVCMOS33; # JP2-51, bank 1
#NET "OPT3001_SDA"       LOC="N22"   | IOSTANDARD=LVCMOS33; # JP2-52, bank 1
#NET "OE1_4BIT"         LOC="L20"   | IOSTANDARD=LVCMOS33; # JP2-53, bank 1
#NET "OPT3001_SCL"       LOC="M20"   | IOSTANDARD=LVCMOS33; # JP2-54, bank 1
#NET "LED_SR_CLK1"       LOC="L22"   | IOSTANDARD=LVCMOS33; # JP2-57, bank 1 (SR_CLK1)
#NET "JP2_58"            LOC="L19"   | IOSTANDARD=LVCMOS33; # JP2-58, bank 1
#NET "LED_SR_SDATA2"     LOC="H21"   | IOSTANDARD=LVCMOS33; # JP2-59, bank 1 (SR_SData2)
#NET "JP2_60"            LOC="K21"   | IOSTANDARD=LVCMOS33; # JP2-60, bank 1
#NET "CLKFPGA"          LOC="H22"   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=12; # JP2-61, bank 1
#NET "JP2_62"            LOC="K22"   | IOSTANDARD=LVCMOS33; # JP2-62, bank 1
#NET "LED_SR_CLK2"       LOC="F21"   | IOSTANDARD=LVCMOS33; # JP2-63, bank 1 (SR_CLK2)
#NET "JP2_64"            LOC="G20"   | IOSTANDARD=LVCMOS33; # JP2-64, bank 1
#NET "SCKX"             LOC="F22"   | IOSTANDARD=LVCMOS33; # JP2-65, bank 1
#*NET "AD5060_MOSI"     LOC="G22"   | IOSTANDARD=LVCMOS33; # JP2-66, bank 1
#NET "SELX"             LOC="D21"   | IOSTANDARD=LVCMOS33; # JP2-67, bank 1
#*NET "AD5060_SCLK"     LOC="E20"   | IOSTANDARD=LVCMOS33; # JP2-68, bank 1
#NET "MOSIX"            LOC="D22"   | IOSTANDARD=LVCMOS33; # JP2-69, bank 1
#*NET "AD5060_CSB"      LOC="E22"   | IOSTANDARD=LVCMOS33; # JP2-70, bank 1
#NET "RESETX"           LOC="B21"   | IOSTANDARD=LVCMOS33; # JP2-71, bank 1
#NET "CTRL_COLUMN2"      LOC="C20"   | IOSTANDARD=LVCMOS33; # JP2-72, bank 1
#NET "SELSPIMODEX"      LOC="B22"   | IOSTANDARD=LVCMOS33; # JP2-73, bank 1
#NET "DS1822_DQ"         LOC="C22"   | IOSTANDARD=LVCMOS33; # JP2-74, bank 1
#NET ""                 LOC="A21"   | IOSTANDARD=LVCMOS33; # JP2-75, bank 1
#NET "DS1822_DQ"        LOC="A20"   | IOSTANDARD=LVCMOS33; # JP2-76, bank 1
#NET "DIR_8BIT"         LOC="J20"   | IOSTANDARD=LVCMOS33; # JP2-77, bank 1
#NET "OE_8BIT"          LOC="J22"   | IOSTANDARD=LVCMOS33; # JP2-79, bank 1

## JP3 Header:
NET "HC_05_ENABLE"    LOC=W20  | IOSTANDARD=LVCMOS33; # JP3-15, bank 1
NET "HC_05_STATE"     LOC=T19  | IOSTANDARD=LVCMOS33; # JP3-16, bank 1
NET "HC_05_TXD"   LOC=W22  | IOSTANDARD=LVCMOS33; # | DRIVE=24 | SLEW=FAST; #JP3-17, bank 1
NET "HC_05_RXD"      LOC=T20  | IOSTANDARD=LVCMOS33; # JP3-18, bank 1

#NET "DAT31R5A_LE5"      LOC=U19  | IOSTANDARD=LVCMOS33; # JP3-19, bank 1
#NET "AD5292_SDO_1"      LOC=P17  | IOSTANDARD=LVCMOS33; # JP3-20, bank 1
#NET "RESETBUTTON2"      LOC=V20  | IOSTANDARD=LVCMOS33; # JP3-21, bank 1 (Rest_System_Push2)
#NET "AD5292_SYNCB_1"    LOC=N16  | IOSTANDARD=LVCMOS33; # JP3-22, bank 1
#NET "AD7985_TURBO"      LOC=C5   | IOSTANDARD=LVCMOS25; # JP3-23, bank 0
#NET "AD5292_SCLK_1"     LOC=M17  | IOSTANDARD=LVCMOS33; # JP3-24, bank 1
#NET "AD7985_SDI"        LOC=A5   | IOSTANDARD=LVCMOS25; # JP3-25, bank 0
#NET "AD5292_DIN_1"      LOC=M18  | IOSTANDARD=LVCMOS33; # JP3-26, bank 1
#NET "AD7985_DATAIN"     LOC=D14  | IOSTANDARD=LVCMOS25; # JP3-27, bank 0
#NET "MIXER_ODD_EVEN"    LOC=P18  | IOSTANDARD=LVCMOS33; # JP3-28, bank 1 (MIXER_ODD_EVEN)
#NET "AD7985_SCK"        LOC=C14  | IOSTANDARD=LVCMOS25; # JP3-29, bank 0
#NET "DAT31R5A_DATA7"    LOC=R19  | IOSTANDARD=LVCMOS33; # JP3-30, bank 1
#NET "AD7985_CNV"        LOC=E16  | IOSTANDARD=LVCMOS25; # JP3-31, bank 0
#NET "DAT31R5A_CLOCK7"   LOC=D9   | IOSTANDARD=LVCMOS25; # JP3-32, bank 0
#NET "ybusn[9]"         LOC=D17  | IOSTANDARD=LVCMOS25; # JP3-33, bank 0
#NET "DAT31R5A_LE7"      LOC=C8   | IOSTANDARD=LVCMOS25; # JP3-34, bank 0
#NET "DAT31R5A_DATA2"    LOC=D7   | IOSTANDARD=LVCMOS25; # JP3-37, bank 0
#NET "ybusp[10]"        LOC=D10  | IOSTANDARD=LVCMOS25; # JP3-38, bank 0
#NET "DAT31R5A_CLOCK2"   LOC=D8   | IOSTANDARD=LVCMOS25; # JP3-39, bank 0
#NET "DAT31R5A_DATA8"    LOC=C10  | IOSTANDARD=LVCMOS25; # JP3-40, bank 0
#NET "DAT31R5A_LE2"      LOC=L17  | IOSTANDARD=LVCMOS33; # JP3-41, bank 1
#NET "DAT31R5A_CLOCK8"   LOC=D11  | IOSTANDARD=LVCMOS25; # JP3-42, bank 0
#NET "DAT31R5A_DATA3"    LOC=K18  | IOSTANDARD=LVCMOS33; # JP3-43, bank 1
#NET "DAT31R5A_LE8"      LOC=C12  | IOSTANDARD=LVCMOS25; # JP3-44, bank 0
#NET "DAT31R5A_CLOCK3"   LOC=D6   | IOSTANDARD=LVCMOS25; # JP3-45, bank 0
#NET "JP3_46"            LOC=D15  | IOSTANDARD=LVCMOS25; # JP3-46, bank 0
#NET "DAT31R5A_LE3"      LOC=C6   | IOSTANDARD=LVCMOS25; # JP3-47, bank 0
#NET "JP3_48"            LOC=C16  | IOSTANDARD=LVCMOS25; # JP3-48, bank 0
#NET "DAT31R5A_DATA4"    LOC=A3   | IOSTANDARD=LVCMOS25; # JP3-49, bank 0
#NET "JP3_50"            LOC=B6   | IOSTANDARD=LVCMOS25; # JP3-50, bank 0
#NET "DAT31R5A_CLOCK4"   LOC=A4   | IOSTANDARD=LVCMOS25; # JP3-51, bank 0
#NET "JP3_52"            LOC=A6   | IOSTANDARD=LVCMOS25; # JP3-52, bank 0
#NET "DAT31R5A_LE4"      LOC=B8   | IOSTANDARD=LVCMOS25; # JP3-53, bank 0
#NET "JP3_54"            LOC=C7   | IOSTANDARD=LVCMOS25; # JP3-54, bank 0
#NET "DAT31R5A_DATA1"    LOC=A8   | IOSTANDARD=LVCMOS25; # JP3-57, bank 0
#NET "RESETBUTTON2LED"   LOC=A7   | IOSTANDARD=LVCMOS25 | DRIVE=12; # JP3-58, bank 0 (LED_Pushbutton+)
#NET "DAT31R5A_CLOCK1"   LOC=B10  | IOSTANDARD=LVCMOS25; # JP3-59, bank 0
#NET ""   LOC=C9   | IOSTANDARD=LVCMOS25; # JP3-60, bank 0
#NET "DAT31R5A_LE1"      LOC=A10  | IOSTANDARD=LVCMOS25; # JP3-61, bank 0
#NET ""   LOC=A9   | IOSTANDARD=LVCMOS25; # JP3-62, bank 0 
#NET ""    LOC=C13  | IOSTANDARD=LVCMOS25; # JP3-63, bank 0 
#NET ""	LOC=B12  | IOSTANDARD=LVCMOS25; # JP3-64, bank 0 
#NET ""    LOC=A13  | IOSTANDARD=LVCMOS25; # JP3-65, bank 0
#NET ""  LOC=A12  | IOSTANDARD=LVCMOS25; # JP3-66, bank 0
#NET "JSW6_ENAB_MUX2"	LOC=C15  | IOSTANDARD=LVCMOS25; # JP3-67, bank 0 
#NET ""	LOC=B14  | IOSTANDARD=LVCMOS25; # JP3-68, bank 0
#NET "JSW6_ENAB_MUX1"	LOC=A15  | IOSTANDARD=LVCMOS25; # JP3-69, bank 0 
#NET "AD7988_SDI"       LOC=A14  | IOSTANDARD=LVCMOS25; # JP3-70, bank 0
#NET "JSW6_CTRL_ROW1"	LOC=C17	 | IOSTANDARD=LVCMOS25; # JP3-71, bank 0 (CTRL_Row1)
#NET "AD7988_SCK"	    LOC=B16	 | IOSTANDARD=LVCMOS25; # JP3-72, bank 0
#NET "JSW6_CTRL_ROW2"	LOC=A17	 | IOSTANDARD=LVCMOS25; # JP3-73, bank 0 (CTRL_Row2)
#NET "AD7988_SDO"       LOC=A16  | IOSTANDARD=LVCMOS25; # JP3-74, bank 0
#NET "DAT31R5A_DATA6"    LOC=A18  | IOSTANDARD=LVCMOS25; # JP3-75, bank 0
#NET "AD7988_CNV"	    LOC=B18  | IOSTANDARD=LVCMOS25; # JP3-76, bank 0
#NET "DAT31R5A_CLOCK6"   LOC=C11	 | IOSTANDARD=LVCMOS25; # JP3-77, bank 0
#NET "DAT31R5A_LE6"      LOC=A11	 | IOSTANDARD=LVCMOS25; # JP3-79, bank 0




############################################################################
## Expansion Connectors                                                         
############################################################################
#NET "xbusp[0]"   LOC=G19  | IOSTANDARD=LVCMOS33; #JP2-16
#NET "xbusp[1]"   LOC=G16  | IOSTANDARD=LVCMOS33; #JP2-15
#NET "xbusp[2]"   LOC=H20  | IOSTANDARD=LVCMOS33; #JP2-20
#NET "xbusp[3]"   LOC=H19  | IOSTANDARD=LVCMOS33; #JP2-19
#NET "xbusp[4]"   LOC=D19  | IOSTANDARD=LVCMOS33; #JP2-24
#NET "xbusp[5]"   LOC=F16  | IOSTANDARD=LVCMOS33; #JP2-23
#NET "xbusp[6]"   LOC=F18  | IOSTANDARD=LVCMOS33; #JP2-28
#NET "xbusp[7]"   LOC=J17  | IOSTANDARD=LVCMOS33; #JP2-27
#NET "xbusp[8]"   LOC=M16  | IOSTANDARD=LVCMOS33; #JP2-32
#NET "xbusp[9]"   LOC=K16  | IOSTANDARD=LVCMOS33; #JP2-31
#NET "xbusp[10]"  LOC=K20  | IOSTANDARD=LVCMOS33; #JP2-38
#NET "xbusp[11]"  LOC=V21  | IOSTANDARD=LVCMOS33; #JP2-37
#NET "xbusp[12]"  LOC=U20  | IOSTANDARD=LVCMOS33; #JP2-42
#NET "xbusp[13]"  LOC=T21  | IOSTANDARD=LVCMOS33; #JP2-41
#NET "xbusp[14]"  LOC=R20  | IOSTANDARD=LVCMOS33; #JP2-46
#NET "xbusp[15]"  LOC=P21  | IOSTANDARD=LVCMOS33; #JP2-45
#NET "xbusp[16]"  LOC=N20  | IOSTANDARD=LVCMOS33; #JP2-50
#NET "xbusp[17]"  LOC=M21  | IOSTANDARD=LVCMOS33; #JP2-49
#NET "xbusp[18]"  LOC=M20  | IOSTANDARD=LVCMOS33; #JP2-54
#NET "xbusp[19]"  LOC=L20  | IOSTANDARD=LVCMOS33; #JP2-53
#NET "xbusp[20]"  LOC=K21  | IOSTANDARD=LVCMOS33; #JP2-60
#NET "xbusp[21]"  LOC=H21  | IOSTANDARD=LVCMOS33; #JP2-59
#NET "xbusp[22]"  LOC=G20  | IOSTANDARD=LVCMOS33; #JP2-64
#NET "xbusp[23]"  LOC=F21  | IOSTANDARD=LVCMOS33; #JP2-63
#NET "xbusp[24]"  LOC=E20  | IOSTANDARD=LVCMOS33; #JP2-68
#NET "xbusp[25]"  LOC=D21  | IOSTANDARD=LVCMOS33; #JP2-67
#NET "xbusp[26]"  LOC=C20  | IOSTANDARD=LVCMOS33; #JP2-72
#NET "xbusp[27]"  LOC=B21  | IOSTANDARD=LVCMOS33; #JP2-71
#NET "xbusp[28]"  LOC=A20  | IOSTANDARD=LVCMOS33; #JP2-76

#NET "xbusn[0]"   LOC=F20  | IOSTANDARD=LVCMOS33; #JP2-18
#NET "xbusn[1]"   LOC=G17  | IOSTANDARD=LVCMOS33; #JP2-17
#NET "xbusn[2]"   LOC=J19  | IOSTANDARD=LVCMOS33; #JP2-22
#NET "xbusn[3]"   LOC=H18  | IOSTANDARD=LVCMOS33; #JP2-21
#NET "xbusn[4]"   LOC=D20  | IOSTANDARD=LVCMOS33; #JP2-26
#NET "xbusn[5]"   LOC=F17  | IOSTANDARD=LVCMOS33; #JP2-25
#NET "xbusn[6]"   LOC=F19  | IOSTANDARD=LVCMOS33; #JP2-30
#NET "xbusn[7]"   LOC=K17  | IOSTANDARD=LVCMOS33; #JP2-29
#NET "xbusn[8]"   LOC=L15  | IOSTANDARD=LVCMOS33; #JP2-34
#NET "xbusn[9]"   LOC=J16  | IOSTANDARD=LVCMOS33; #JP2-33
#NET "xbusn[10]"  LOC=K19  | IOSTANDARD=LVCMOS33; #JP2-40
#NET "xbusn[11]"  LOC=V22  | IOSTANDARD=LVCMOS33; #JP2-39
#NET "xbusn[12]"  LOC=U22  | IOSTANDARD=LVCMOS33; #JP2-44
#NET "xbusn[13]"  LOC=T22  | IOSTANDARD=LVCMOS33; #JP2-43
#NET "xbusn[14]"  LOC=R22  | IOSTANDARD=LVCMOS33; #JP2-48
#NET "xbusn[15]"  LOC=P22  | IOSTANDARD=LVCMOS33; #JP2-47
#NET "xbusn[16]"  LOC=N22  | IOSTANDARD=LVCMOS33; #JP2-52
#NET "xbusn[17]"  LOC=M22  | IOSTANDARD=LVCMOS33; #JP2-51
#NET "xbusn[18]"  LOC=L19  | IOSTANDARD=LVCMOS33; #JP2-58
#NET "xbusn[19]"  LOC=L22  | IOSTANDARD=LVCMOS33; #JP2-57
#NET "xbusn[20]"  LOC=K22  | IOSTANDARD=LVCMOS33; #JP2-62
#NET "xbusn[21]"  LOC=H22  | IOSTANDARD=LVCMOS33; #JP2-61
#NET "xbusn[22]"  LOC=G22  | IOSTANDARD=LVCMOS33; #JP2-66
#NET "xbusn[23]"  LOC=F22  | IOSTANDARD=LVCMOS33; #JP2-65
#NET "xbusn[24]"  LOC=E22  | IOSTANDARD=LVCMOS33; #JP2-70
#NET "xbusn[25]"  LOC=D22  | IOSTANDARD=LVCMOS33; #JP2-69
#NET "xbusn[26]"  LOC=C22  | IOSTANDARD=LVCMOS33; #JP2-74
#NET "xbusn[27]"  LOC=B22  | IOSTANDARD=LVCMOS33; #JP2-73
#NET "xbusn[28]"  LOC=A21  | IOSTANDARD=LVCMOS33; #JP2-75

#NET "ybusp[0]"   LOC=T19  | IOSTANDARD=LVCMOS33; #JP3-16
#NET "ybusp[1]"   LOC=W20  | IOSTANDARD=LVCMOS33; #JP3-15
#NET "ybusp[2]"   LOC=P17  | IOSTANDARD=LVCMOS33; #JP3-20
#NET "ybusp[3]"   LOC=U19  | IOSTANDARD=LVCMOS33; #JP3-19
#NET "ybusp[4]"   LOC=M17  | IOSTANDARD=LVCMOS33; #JP3-24
#NET "ybusp[5]"   LOC=C5   | IOSTANDARD=LVCMOS33; #JP3-23
#NET "ybusp[6]"   LOC=P18  | IOSTANDARD=LVCMOS33; #JP3-28
#NET "ybusp[7]"   LOC=D14  | IOSTANDARD=LVCMOS33; #JP3-27
#NET "ybusp[8]"   LOC=D9   | IOSTANDARD=LVCMOS33; #JP3-32
#NET "ybusp[9]"   LOC=E16  | IOSTANDARD=LVCMOS33; #JP3-31
#NET "ybusp[10]"  LOC=D10  | IOSTANDARD=LVCMOS33; #JP3-38
#NET "ybusp[11]"  LOC=D7   | IOSTANDARD=LVCMOS33; #JP3-37
#NET "ybusp[12]"  LOC=D11  | IOSTANDARD=LVCMOS33; #JP3-42
#NET "ybusp[13]"  LOC=L17  | IOSTANDARD=LVCMOS33; #JP3-41
#NET "ybusp[14]"  LOC=D15  | IOSTANDARD=LVCMOS33; #JP3-46
#NET "ybusp[15]"  LOC=D6   | IOSTANDARD=LVCMOS33; #JP3-45
#NET "ybusp[16]"  LOC=B6   | IOSTANDARD=LVCMOS33; #JP3-50
#NET "ybusp[17]"  LOC=A3   | IOSTANDARD=LVCMOS33; #JP3-49
#NET "ybusp[18]"  LOC=C7   | IOSTANDARD=LVCMOS33; #JP3-54
#NET "ybusp[19]"  LOC=B8   | IOSTANDARD=LVCMOS33; #JP3-53
#NET "ybusp[20]"  LOC=C9   | IOSTANDARD=LVCMOS33; #JP3-60
#NET "ybusp[21]"  LOC=B10  | IOSTANDARD=LVCMOS33; #JP3-59
#NET "ybusp[22]"  LOC=B12  | IOSTANDARD=LVCMOS33; #JP3-64
#NET "ybusp[23]"  LOC=C13  | IOSTANDARD=LVCMOS33; #JP3-63
#NET "ybusp[24]"  LOC=B14  | IOSTANDARD=LVCMOS33; #JP3-68
#NET "ybusp[25]"  LOC=C15  | IOSTANDARD=LVCMOS33; #JP3-67
#NET "ybusp[26]"  LOC=B16  | IOSTANDARD=LVCMOS33; #JP3-72
#NET "ybusp[27]"  LOC=C17  | IOSTANDARD=LVCMOS33; #JP3-71
#NET "ybusp[28]"  LOC=B18  | IOSTANDARD=LVCMOS33; #JP3-76

#NET "ybusn[0]"   LOC=T20  | IOSTANDARD=LVCMOS33; #JP3-18
#NET "ybusn[1]"   LOC=W22  | IOSTANDARD=LVCMOS33; #JP3-17
#NET "ybusn[2]"   LOC=N16  | IOSTANDARD=LVCMOS33; #JP3-22
#NET "ybusn[3]"   LOC=V20  | IOSTANDARD=LVCMOS33; #JP3-21
#NET "ybusn[4]"   LOC=M18  | IOSTANDARD=LVCMOS33; #JP3-26
#NET "ybusn[5]"   LOC=A5   | IOSTANDARD=LVCMOS33; #JP3-25
#NET "ybusn[6]"   LOC=R19  | IOSTANDARD=LVCMOS33; #JP3-30
#NET "ybusn[7]"   LOC=C14  | IOSTANDARD=LVCMOS33; #JP3-29
#NET "ybusn[8]"   LOC=C8   | IOSTANDARD=LVCMOS33; #JP3-34
#NET "ybusn[9]"   LOC=D17  | IOSTANDARD=LVCMOS33; #JP3-33
#NET "ybusn[10]"  LOC=C10  | IOSTANDARD=LVCMOS33; #JP3-40
#NET "ybusn[11]"  LOC=D8   | IOSTANDARD=LVCMOS33; #JP3-39
#NET "ybusn[12]"  LOC=C12  | IOSTANDARD=LVCMOS33; #JP3-44
#NET "ybusn[13]"  LOC=K18  | IOSTANDARD=LVCMOS33; #JP3-43
#NET "ybusn[14]"  LOC=C16  | IOSTANDARD=LVCMOS33; #JP3-48
#NET "ybusn[15]"  LOC=C6   | IOSTANDARD=LVCMOS33; #JP3-47
#NET "ybusn[16]"  LOC=A6   | IOSTANDARD=LVCMOS33; #JP3-52
#NET "ybusn[17]"  LOC=A4   | IOSTANDARD=LVCMOS33; #JP3-51
#NET "ybusn[18]"  LOC=A7   | IOSTANDARD=LVCMOS33; #JP3-58
#NET "ybusn[19]"  LOC=A8   | IOSTANDARD=LVCMOS33; #JP3-57
#NET "ybusn[20]"  LOC=A9   | IOSTANDARD=LVCMOS33; #JP3-62
#NET "ybusn[21]"  LOC=A10  | IOSTANDARD=LVCMOS33; #JP3-61
#NET "ybusn[22]"  LOC=A12  | IOSTANDARD=LVCMOS33; #JP3-66
#NET "ybusn[23]"  LOC=A13  | IOSTANDARD=LVCMOS33; #JP3-65
#NET "ybusn[24]"  LOC=A14  | IOSTANDARD=LVCMOS33; #JP3-70
#NET "ybusn[25]"  LOC=A15  | IOSTANDARD=LVCMOS33; #JP3-69
#NET "ybusn[26]"  LOC=A16  | IOSTANDARD=LVCMOS33; #JP3-74
#NET "ybusn[27]"  LOC=A17  | IOSTANDARD=LVCMOS33; #JP3-73
#NET "ybusn[28]"  LOC=A18  | IOSTANDARD=LVCMOS33; #JP3-75

#NET "xclk1"      LOC=J20  | IOSTANDARD=LVCMOS33; #JP2-77
#NET "xclk2"      LOC=J22  | IOSTANDARD=LVCMOS33; #JP2-79

#NET "yclk1"      LOC=C11  | IOSTANDARD=LVCMOS33; #JP3-77
#NET "yclk2"      LOC=A11  | IOSTANDARD=LVCMOS33; #JP3-79

############################################################################
## Peripherals
############################################################################

# LEDs ################################################################
NET "LED[0]"     LOC="Y17"    | IOSTANDARD=LVCMOS33;
NET "LED[1]"     LOC="AB17"   | IOSTANDARD=LVCMOS33;
NET "LED[2]"     LOC="AA14"   | IOSTANDARD=LVCMOS33;
NET "LED[3]"     LOC="AB14"   | IOSTANDARD=LVCMOS33;
NET "LED[4]"     LOC="AA16"   | IOSTANDARD=LVCMOS33;
NET "LED[5]"     LOC="AB16"   | IOSTANDARD=LVCMOS33;
NET "LED[6]"     LOC="AA10"   | IOSTANDARD=LVCMOS33;
NET "LED[7]"     LOC="AB10"   | IOSTANDARD=LVCMOS33;

## brendan notes:
#SLEW={SLOW|FAST|QUIETIO}, default SLOW
#DRIVE={2|4|6|8|12|16|24}, default 12
#PULLUP|PULLDOWN|KEEPER
#   for 3-state output (OBUFT) or bidirectional (IOBUF) buffers, output can havea weak pull-up, a weak pull down, or a weak keeper
#   for input (IBUF) buffers, the input can have either a weak pullup or a weak pulldown

# from the spartan 6 selectIO resources user guide, pg. 45:
#The global 3-state (GTS) net is released during start-up, marking the end of configuration and the beginning of design operation in the User mode. After the GTS net is released, all user I/Os transition active while all unused I/Os are pulled down (PULLDOWN). The designer can control termination on the unused I/Os after GTS is released by setting the unused pin bitstream generator (BitGen) option to PULLUP, PULLDOWN, or FLOAT. 
# By default, the Xilinx ISE development tools automatically configure all unused I/O pins as input pins with individual internal pull-down resistors to GND. This default behavior is controlled by the UnusedPin BitGen option.

# so unused pins are input pins with a pulldown resistor to ground, i.e. they have no drive strength, but still the net should be discharged to ground.
# if I explicitly tie a pin to ground, it probably doesn't have a pulldown (i.e. it is low resistance).
# then say that net has a short to Vdd through another IC somewhere.
# with the pulldown, there is a reasonably high resistance between vdd and ground, so you don't see much extra current draw from the power supply.
# without the pulldown, there is a very low resistance between vdd and groundk, so you could see much higher current draw from the power supply.

# can a weak pulldown be overpowered by crosstalk or something?
# could having only a weak pulldown have caused my level shifter chip to fry?

# was making the level shifter enable signal programmable a bad idea? if it is in an unknown state, but channels are being driven by the FPGA, could that have caused it to fry?
# really I shouldn't need to program the enable signal, so I will hardcode it from now on.


